html.dark .mtdeck-config {
  background-color: #1c2938;
}

.mtdeck-config {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 201;
  background-color: #fff;
  padding: 20px;

  &.is-open {
    display: block;
  }

  &-button {
    color: blueviolet !important;
  }

  &-item {
    margin-bottom: 20px !important;
  }

  &-input[type="number"] {
    width: 80px;
    margin-right: 10px;
  }

  &-footer {
    position: fixed;
    bottom: 20px;
  }
}

body.mtdeck-no-animation {
  &,
  *:not(iframe) {
    transition-duration: 1ms !important;
  }
}

body.mtdeck-hide-images {
  .js-media:not(.detail-preview) {
    height: 25px !important;
    border-radius: 0 !important;

    .media-sensitive {
      height: 1rem;
      background-color: transparent;
      &::before {
        content: "[sensitive]";
      }
      div {
        display: none;
      }
    }

    .media-image-container:first-child,
    .js-media-preview-container {
      width: 100% !important;

      .media-item,
      .media-image {
        height: 0;
        width: max-content;
        background-image: none !important;
        border-radius: 0;

        &::before {
          content: "[media]";
        }

        * {
          display: none !important;
        }
      }
    }

    .media-image-container:not(:first-child) {
      display: none !important;

      .media-item,
      .media-image {
        background-image: none !important;
      }
    }
  }

  .item-box-full-bleed {
    .media-item,
    .media-image {
      margin: auto !important;
    }
  }
}

body.mtdeck-hide-counts {
  .reply-count, .retweet-count, .like-count {
    display: none;
  }

  .app-columns {
    .column-detail .tweet-detail footer {
      .js-tweet-stats {
        display: none;
      }
    }
  }
}

body.mtdeck-lazy-load-image {
  .media-item,
  .media-image {
    background-image: none !important;
  }
}

body.mtdeck-mobile {
  // フッターナビゲーション
  .js-int-scroller {
    display: flex;
    justify-content: space-between;
  }

  // ツイート
  .item-box {
    padding: 12px 16px;

    // アイコンのサイズ
    .item-img {
      width: 48px;
    }
    .avatar {
      width: 48px;
      height: 48px;
    }

    // カラム内のツイートのメニュー
    .dropdown-menu {
      width: 90vw;
      margin-right: -5vw;
      font-size: 15px;
      .caret {
        right: 13px;
      }
      [data-action] {
        padding: 8px 20px;
      }
    }

    // カラム内の各ツイート、通知カラムのリプツイートのスタイル
    .tweet {
      padding-left: 60px;
      .tweet-header {
        margin-bottom: 2px;
        .tweet-img {
          margin-left: -60px;
        }
      }
      .thread {
        left: 38px;
      }
      .tweet-body {
        .other-replies {
          margin-bottom: 2px;
        }
      }
      .tweet-footer {
        margin-top: 12px;
        .tweet-actions {
          display: flex;
          justify-content: space-between;
        }
      }
      .js-show-this-thread > p {
        margin-top: 12px !important;
      }
    }

    // ツイートの詳細表示
    .tweet-detail {
      &.js-has-replies {
        margin-left: 48px !important;
        .thread {
          left: 38px;
        }
      }

      .account-summary {
        margin-bottom: 12px !important;
        .item-img {
          margin-right: 12px !important;
        }
        .tweet-text {
          margin-bottom: 12px !important;
        }
      }

      .tweet-detail-actions {
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }

    // 通知カラムの各通知
    .activity-header {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 2px;
      .item-img {
        margin-top: 0 !important;
      }
      i {
        font-size: 1.3em !important;
        line-height: 1em;
        &.icon-user-filled {
          font-size: 1em !important;
        }
      }
      .avatar {
        width: 30px;
        height: 30px;
      }
    }

    // 引用RT、メディア、ビデオ表示
    .quoted-tweet, .media-preview {
      margin-top: 12px !important;
      margin-bottom: 0 !important;
    }
    video {
      width: 100%;
      height: auto;
    }
  }
}