.mtdeck-config {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 201;
  background-color: #1c2938;
  padding: 20px;

  &.is-open {
    display: block;
  }

  &-button {
    color: blueviolet !important;
  }

  &-item {
    margin-bottom: 20px !important;
  }

  &-input[type="number"] {
    width: 80px;
    margin-right: 10px;
  }

  &-footer {
    position: fixed;
    bottom: 20px;
  }
}

body.mtdeck-no-animation {
  &,
  *:not(iframe) {
    transition-duration: 1ms !important;
  }
}

body.mtdeck-hide-images {
  .js-media:not(.detail-preview) {
    height: 25px !important;
    border-radius: 0 !important;

    .media-sensitive {
      height: 1rem;
      background-color: transparent;
      &::before {
        content: "[sensitive]";
      }
      div {
        display: none;
      }
    }

    .media-image-container:first-child,
    .js-media-preview-container {
      width: 100% !important;

      .media-item,
      .media-image {
        height: 0;
        width: max-content;
        background-image: none !important;
        border-radius: 0;

        &::before {
          content: "[media]";
        }

        * {
          display: none !important;
        }
      }
    }

    .media-image-container:not(:first-child) {
      display: none !important;

      .media-item,
      .media-image {
        background-image: none !important;
      }
    }
  }

  .item-box-full-bleed {
    .media-item,
    .media-image {
      margin: auto !important;
    }
  }
}

body.mtdeck-lazy-load-image {
  .media-item,
  .media-image {
    background-image: none !important;
  }
}
