.mtdeck-config {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 201;
  background-color: #1c2938;
  padding: 20px;

  &.is-open {
    display: block;
  }

  &-button {
    color: blueviolet !important;
  }

  &-item {
    margin-bottom: 20px !important;
  }

  &-footer {
    position: fixed;
    bottom: 20px;
  }
}

body.mtdeck-no-animation {
  &, *:not(iframe) {
    transition-duration: 1ms !important;
  }
}

body.mtdeck-hide-images {
  .stream-item .media-preview:not(.detail-preview) {
    height: 20px !important;
    border-radius: 0 !important;

    .media-image-container:first-child a, .media-preview-container a {
      height: inherit;
      width: max-content;
      background-image: none !important;

      &::before {
        content: attr(href);
      }

      * {
        display: none;
      }
    }

    .media-image-container:not(:first-child) {
      display: none !important;
      background-image: none !important;
    }
  }
}
