body.mtdeck {
  button[data-drawer="compose"] {
    z-index: 1;
    position: fixed !important;
    right: 20px;
    bottom: 60px;
    width: 4rem !important;
    height: 4rem !important;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
  }

  .app-columns {
    padding: 0 0 50px 0 !important;
  }

  .app-content {
    left: 0 !important;
  }

  .app-columns-container {
    overflow-x: hidden;
    overflow-y: auto;
  }

  section.column,
  .js-modal-panel,
  .prf-header,
  .prf-header-inner-overlay,
  .social-proof-container {
    width: 100% !important;
  }

  .overlay:before {
    margin-right: -5px;
  }

  // ユーザーのモーダル
  .mdl {
    width: 100% !important;
    overflow-x: hidden;
    .mdl-inner {
      padding: 5px;
      // 右カラム右にある領域を非表示
      .js-right-column {
        overflow-x: hidden;
      }
      // 左カラムを非表示
      .mdl-column:first-child {
        display: none;
      }
      // 右カラムのサイズ調整
      .mdl-column:not(:first-child) {
        width: 100% !important;
      }
    }
    .mdl-dismiss {
      right: 10px !important;
    }
  }

  .med-tweet {
    width: 100% !important;
    left: 0 !important;
  }

  .old-composer-footer,
  .column-nav-flyout {
    display: none;
  }

  .js-search-in-popover .popover {
    width: 200px !important;
  }

  .js-mediaembed {
    .js-media-native-video,
    .youtube-player {
      width: 100% !important;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto !important;
      z-index: 1;
    }
  }

  .column-navigator {
    top: 50px;
  }
}
