body.mtdeck {
  .app-content {
    will-change: transform;
  }

  .app-content.is-open {
    margin-right: 0 !important;
    transform: translateX(100%) !important;
  }

  .drawer[data-drawer="compose"] {
    left: -100%;
    width: 100%;
  }

  .drawer[data-drawer="accountSettings"] {
    left: calc(-1 * 100vw + 60px);
    width: calc(100vw - 60px);
  }

  button.js-hide-drawer {
    display: none !important;
  }
}
